<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  .img {
            width: 200px;
            border-radius: 100px;
            float: left;
            margin-right: 20px;
        }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>  
</nav>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2 margin-left: 50px>About Us</h2>
      <img class="img" src="https://scontent.fceb2-1.fna.fbcdn.net/v/t1.6435-9/93827149_836517963525359_561260987596931072_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=a4a2d7&_nc_eui2=AeEwrfz83K5KO6ybL26bqs819M4XNteQQIz0zhc215BAjF-BPv79l4_61sZamOq3mlsQG854lYqr83m0qbAHYs4w&_nc_ohc=xstJDvqE350AX8ATFOE&tn=HmlrQ16ewB1XjRTJ&_nc_ht=scontent.fceb2-1.fna&oh=3e177e70100cfdc5256a870d0dfc01bc&oe=6152647A" alt="Edwin Charles Casinillo">
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2 align="center">ROLE</h2>
      <p>Andre Nikko Wasawas</p>
      <p>Project Manager</p>
    </div>
  </div>
</div>
<div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <img class="img" src="https://scontent.fceb3-1.fna.fbcdn.net/v/t1.6435-9/90341966_3094672787229844_3904431906959130624_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=174925&_nc_eui2=AeHuEOD-Lv-ojED3E_0eoTSH-gJfArLcVDv6Al8CstxUO_Yp6Jj9_fKKczoe4mIzGeU&_nc_ohc=MO3s2uW7j2sAX86cfug&_nc_ht=scontent.fceb3-1.fna&oh=54765333a47d7308ea7bce5499d8fd11&oe=615475AE" alt="Edwin Charles Casinillo">
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <p>Kevin John Abellanida</p>
        <p>Member</p>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <img class="img" src="https://scontent.fceb2-1.fna.fbcdn.net/v/t1.18169-9/13407176_1234930163185264_3186784797646674844_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=174925&_nc_eui2=AeGJO8Ggcj5l6Byc5atVT6dhE-j09PCOLVwT6PT08I4tXMPN5o84sKY6JA9Fiv3yNLAAb4mvOWiTeQ2WpnQwBoEe&_nc_ohc=blnhlBNWifgAX8Jo913&_nc_ht=scontent.fceb2-1.fna&oh=7cf1795c61f1deaa92d63a049d74888e&oe=6154229C" alt="Edwin Charles Casinillo">
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <p>France Fiji Balili</p>
        <p>Member</p>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <img class="img" src="https://scontent.fceb2-2.fna.fbcdn.net/v/t1.6435-9/210249610_4307302726051717_3261107981519126999_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeEUKLZQRhghFeZUTKFrY4dcOAnXqry5nMc4CdeqvLmcx-FSVnlfp2F8_r3HHOrLUz9zqDx8cuwb6fsCkNRhRUe0&_nc_ohc=Bb7SIPIZxooAX_aMgZY&_nc_oc=AQk1QfJQ-Nf2WomdgCY33gWSGadfcElHMLPJwCHkVBh_6VRG3hmkHnIJT940K6nljN1ypQLccq8uqWPd7UN-2mgF&_nc_ht=scontent.fceb2-2.fna&oh=4412eac3d51441258f73699b4420a784&oe=6153D15A" alt="Edwin Charles Casinillo">
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <p>Andrilou Sanchez</p>
        <p>Member</p>
      </div>
    </div>
  </div>
<div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <img class="img" src="https://scontent.fceb3-1.fna.fbcdn.net/v/t31.18172-8/17990198_10209413962252310_4695835150983413693_o.jpg?_nc_cat=103&ccb=1-5&_nc_sid=174925&_nc_eui2=AeEVGuPi6cJ9ZWTz8VZAA-Y58LfezLaXpcrwt97MtpelynfTB5hawOuosDazDyiJWaY&_nc_ohc=B42lH-Qy6eIAX-Lqo5I&_nc_ht=scontent.fceb3-1.fna&oh=6a54a1bb3b01a4590daa9d396d64448d&oe=61528339" alt="Edwin Charles Casinillo">
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <p>Edwin Charles Casinillo</p>
        <p>Member</p>
      </div>
    </div>
  </div>
<div class="jumbotron text-center" style="margin-bottom:0">
  <p><font color=red>copyright©2021</font></p>
</div>
</body>
</html>